* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Regular";
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(#e6e6e6));
  background: linear-gradient(whitesmoke, #e6e6e6);
  color: #323232;
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  border: 1px solid transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.flex-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body-padding {
  padding: 30px 20px;
}

header {
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
  background: linear-gradient(white, whitesmoke);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 10px;
  left: 10px;
  min-height: 50px;
  max-height: 50px;
  z-index: 999;
  border-radius: 5px;
}

header .header {
  color: #323232;
  text-decoration: none;
}

header .app-version {
  color: #646464;
  font-size: 10px;
}

.main-body-container {
  min-width: 100%;
  margin-top: 70px;
}

.home-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #646464;
  margin-bottom: 20px;
}

.home-icon-wrapper .img-wrapper {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 100%;
  background: white;
  margin-bottom: 10px;
}

.home-icon-wrapper img {
  height: 50px;
}

.home-icon-wrapper .title {
  letter-spacing: 2px;
  font-variant: small-caps;
}

.home-icon-wrapper .version {
  font-size: 10px;
}

.navigation-panel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation-panel .section-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
  background: linear-gradient(white, whitesmoke);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 20px;
}

.navigation-panel .section-wrapper .header {
  color: #646464;
  padding: 10px;
  padding-bottom: 15px;
}

.navigation-panel .section-wrapper .buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation-panel .section-wrapper .buttons-wrapper .button {
  margin-right: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-decoration: none;
  min-width: 40px;
  max-width: 70px;
  padding: 3px;
}

.navigation-panel .section-wrapper .buttons-wrapper .button .icon {
  height: 60px;
  width: 60px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 10px;
}

.navigation-panel .section-wrapper .buttons-wrapper .button .icon img {
  width: 100%;
  max-width: 25px;
}

.navigation-panel .section-wrapper .buttons-wrapper .button .text {
  color: #646464;
  font-size: 12px;
}

form {
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
}

form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

form > div label {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #969696;
  padding: 0 3px;
}

form > div input,
form > div textarea,
form > div select {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 5px 0;
  outline: none;
  color: #646464;
  padding-bottom: 10px;
  border-bottom: 2px solid #b9ffff;
}

form > div textarea {
  resize: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33px;
  min-height: 33px;
  max-height: 100px;
}

form > div input[type='submit'] {
  cursor: pointer;
  border: none;
  padding: 0;
  background: white;
  color: #646464;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px 40px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #b9ffff;
}

.get-suggestions-button {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  cursor: pointer;
  color: #646464;
  margin-top: 8px;
}

.get-suggestions-button span {
  cursor: default;
  margin-right: 8px;
  margin-bottom: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
  background: linear-gradient(white, whitesmoke);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #b9ffff;
  padding: 1px 8px;
}

.list-view-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -30px;
}

.list-view-wrapper .list-view-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 10px;
  font-variant: small-caps;
}

.list-view-wrapper .list-view-header > * {
  width: 100%;
}

.list-view-wrapper .list-view-header .title {
  text-align: center;
}

.list-view-wrapper .list-view-header .extra .total {
  font-size: 14px;
  color: #505050;
  text-align: center;
}

.list-view-wrapper .list-element-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
  background: linear-gradient(white, whitesmoke);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.list-view-wrapper .list-element-wrapper .serial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #505050;
}

.list-view-wrapper .list-element-wrapper .serial > div:first-child {
  font-size: 10px;
  text-transform: capitalize;
}

.list-view-wrapper .list-element-wrapper .description-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 15px;
}

.list-view-wrapper .list-element-wrapper .description-wrapper .description {
  font-size: 14px;
  color: #505050;
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 5px solid #797979;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #797979 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=index.css.map */